*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#welcome {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: pink;
  width: auto;
  text-align: center;
  font-size: 50px;
}

body {
  justify-items: center;
}

form {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  width: auto;
  margin: 10px;
}

form input {
  margin: 5px;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

div {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  justify-items: center;
}

img {
height: 400px;
width: auto;
}

button {
  margin: 5px;
}

.singlePlayerDetails {
  border: 1px solid black;
  height: auto;
  justify-items: center;
  width: auto;
  padding: 10px;
}